.BaseInput {
  font-size: 14px;
  padding: 7px 16px;
  color: $primary-color;
  box-shadow: none;
  outline: none;
  border: 1px solid rgba($primary-color,0.3);

  ::placeholder {
    color: $gray-color;
    font-size: 14px;
    font-family: $theme-font;
  }
}



.Input-primary {
  flex-basis: 30%;
  border-radius: $border-radius;
  font-size: 16px;
  padding: 14px 16px;
  border: none;
  color: $primary-color;
  box-shadow: none;
  outline: none;
  border: 1px solid rgba($primary-color,0.3);
  
  &:focus {
    box-shadow: 0 10px 20px 10px rgba($secondary-color,0.1), 0px 0px 1px 1px rgba($primary-color,0.2);
  }

  &::placeholder {
    color: $gray-color;
    font-size: 16px;
    font-family: $theme-font;
  }
}

