.btn {
  background-color: $white-color;
  border: 1px solid rgba($primary-color,0.3);
  color: $black-color;
  font-size: 16px;
  font-weight: 600;
  padding: 7px 16px;
  opacity: 0.90;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
  &:active {
    box-shadow: 0 0 4px 4px rgba($primary-color,0.1);
  }
}
.btn-primary {
  background-color: $secondary-color !important;
  color: $white-color !important;
  border-radius: $border-radius !important;
  border:none;
   padding: 15px;
}