@import './vars.scss';
@import './search.scss';
@import './business.scss';
@import './main.scss';
@import './queries.scss';
@import './loadingNotFound.scss';

// components' styles
@import '../components/Button/Button.scss';
@import '../components/BaseInput/BaseInput.scss';
@import '../components/ReviewItem/ReviewItem.scss';
@import '../components/SearchInput/SearchInput.scss';
@import '../components/BusinessInfo/BusinessInfo.scss';

@-ms-viewport{
  width: device-width;
}

body {
  font-size: 16px;
  font-family: $theme-font;
  background-color: $background-color;
  color: $black-color;
  margin:0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__header--title {  
  font-size: 40px;
  padding: 0px 0;
}

.main__search {
  display: flex;
  justify-content: center;
}
