%equal-display {
  display: flex;
  justify-content: center;
}

.search {
  @extend %equal-display;
  margin: 10px;
  width: 400px;
}
  
.search__form {
  @extend %equal-display;
  width: 100%;
}

.search__form--input{
  font-size: 16px;
  padding: 16px 18px;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  border: none;
  color: $primary-color;
  box-shadow: 0 10px 20px 10px rgba($primary-color,0.1);
  width: 100%;
}

:focus {
  outline: none;
}

::placeholder {
  color: $gray-color;
  font-size: 16px;
  font-family: $theme-font;
}

.search__form--button{  
  @extend %equal-display;
  align-items: center;
  border: none;
  background-color: $secondary-color;
  color:$white-color;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  padding: 16px 18px;
  box-shadow: 0 10px 20px 10px rgba($primary-color,0.1);
  opacity: 0.85;
}

:hover,:focus, :active  {
  opacity: 1;
}
