%equal-display {
  display: flex;
  justify-content: center;
}

.search {
  @extend %equal-display;
  margin: 10px;
  width: 360px;
  border-radius: $border-radius;
  padding: 20px;
}

.search__form {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  width: 100%;
}

.search__form--input{
  border-radius: $border-radius;
  font-size: 16px;
  padding: 14px 16px;
  border: none;
  color: $primary-color;
  box-shadow: none;
  outline: none;
  &:focus {
    box-shadow: 0 10px 20px 10px rgba($secondary-color,0.1), 0px 0px 1px 1px rgba($primary-color,0.2);
  }
}

::placeholder {
  color: $gray-color;
  font-size: 16px;
  font-family: $theme-font;
}

.search__form--button {  
  @extend %equal-display;
  align-items: center;
  border: none;
  background-color: $secondary-color;
  color:$white-color;
  border-radius: $border-radius;
  padding: 14px 16px;
  opacity: 0.85;
  outline: none;

  &:hover {
    opacity: 1;
  }
  &:active {
    box-shadow: 0 10px 20px 10px rgba($primary-color,0.1);
  }
}

