@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');

$primary-color: #574571;
$secondary-color: #6927e4;
$background-color: #F4F5F8;
$white-color: #FEFEFE;
$black-color: #00303F;
$gray-color: #AAAAAA;
$theme-font: 'Martel Sans' , sans-serif;
$border-radius: 10px;